In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Importing the datasets
IMdB_df = pd.read_csv('/content/drive/MyDrive/Datasests/Xethon/IMDB Dataset.csv')
Amazon_df1 = pd.read_csv('/content/drive/MyDrive/Datasests/Xethon/1429_1.csv')
Amazon_df2 = pd.read_csv('/content/drive/MyDrive/Datasests/Xethon/Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv')
Amazon_df3 = pd.read_csv('/content/drive/MyDrive/Datasests/Xethon/Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products_May19.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# Considering only the reviews and ratings columns from amazon datasest
df1 = Amazon_df1[['reviews.text','reviews.rating']]
df2 = Amazon_df2[['reviews.text','reviews.rating']]
df3 = Amazon_df3[['reviews.text','reviews.rating']]

In [ ]:
# Merging df1, df2, df3 into a single Amazon dataset
Amazon_df = pd.concat([df1, df2, df3], axis=0)
Amazon_df.shape[0]

67992

In [ ]:
# As per the findings 1438+1072+2902 = 5412 negative reviews are only there

In [ ]:
Amazon_df.head()

                                        reviews.text  reviews.rating
0  This product so far has not disappointed. My c...             5.0
1  great for beginner or experienced person. Boug...             5.0
2  Inexpensive tablet for him to use and learn on...             5.0
3  I've had my Fire HD 8 two weeks now and I love...             4.0
4  I bought this for my grand daughter when she c...             5.0

In [ ]:
# changing the column names
Amazon_df = Amazon_df.rename({'reviews.text': 'text', 'reviews.rating': 'ratings'}, axis=1)

In [ ]:
# converting the ratings to positive and negative 
# Ratings 1,2,3 = negative
# Ratings 4,5 = positive
sentimentals = []
sentlist = [1,2,3]
for i in Amazon_df['ratings']:
    if i in sentlist:
        sentimentals.append("negative")
    else:
        sentimentals.append("positive")
Amazon_df = pd.DataFrame({'review':Amazon_df['text'], 'sentiment':sentimentals})

In [ ]:
Amazon_df.shape

(67992, 2)

In [ ]:
# getting only the negative values
Amazon_neg = Amazon_df.loc[Amazon_df['sentiment']=='negative']
Amazon_neg.head()

                                                review sentiment
117  Didn't have some of the features I was looking...  negative
126  i Bought this around black friday for $60 hopi...  negative
169  I bought this tablet for my 4 year old daughte...  negative
222  I was hoping to use Google launcher with this ...  negative
226  The tablet works fine. It is responsive with g...  negative

In [ ]:
# count of negative 
Amazon_neg.shape

(5412, 2)

In [ ]:
# getting only the positive values
Amazon_pos = Amazon_df.loc[Amazon_df['sentiment']=='positive']
Amazon_pos.head()

                                              review sentiment
0  This product so far has not disappointed. My c...  positive
1  great for beginner or experienced person. Boug...  positive
2  Inexpensive tablet for him to use and learn on...  positive
3  I've had my Fire HD 8 two weeks now and I love...  positive
4  I bought this for my grand daughter when she c...  positive

In [ ]:
# considering 5k positive values
Amazon_pos = Amazon_pos.head(5412)

In [ ]:
Amazon_pos.shape

(5412, 2)

In [ ]:
# Combining both the Amazon datasets
Ama_df = pd.concat([Amazon_pos,Amazon_neg], axis=0)
Ama_df.shape[0]

10824

In [ ]:
IMdB_df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
IMDb_neg = IMdB_df.loc[IMdB_df['sentiment']=='negative']
IMDb_pos = IMdB_df.loc[IMdB_df['sentiment']=='positive']

In [ ]:
IMDb_neg = IMDb_neg.head(5000)
IMDb_pos = IMDb_pos.head(5000)
IMDb_df = pd.concat([IMDb_neg, IMDb_pos], axis=0)
IMDb_df.shape

(10000, 2)

In [ ]:
df = pd.concat([IMDb_df, Ama_df], axis=0)

In [ ]:
df.shape

(20824, 2)

In [ ]:
# Boom!!! we get a combination of 1,17,992 reviews

In [ ]:
df.to_csv('Xethon20k.csv')