In [ ]:
import pandas as pd
from string import punctuation

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datasests/Xethon/Xethon10k.csv')

In [ ]:
df.head()

   Unnamed: 0                                             review sentiment
0           3  Basically there's a family where a little boy ...  negative
1           7  This show was an amazing, fresh & innovative i...  negative
2           8  Encouraged by the positive comments about this...  negative
3          10  Phil the Alien is one of those quirky films wh...  negative
4          11  I saw this movie when I was about 12 when it c...  negative

In [ ]:
# Shuffling the dataset
from sklearn.utils import shuffle
df = shuffle(df)

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10024 entries, 500 to 300
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10024 non-null  object
 1   sentiment  10024 non-null  object
dtypes: object(2)
memory usage: 234.9+ KB

In [ ]:
df.dropna()

                                                 review sentiment
500   Why do movie makers always go against the auth...  negative
6429  Bought it for my wife and the fire does not ha...  positive
134   This show makes absolutely no sense. Every wee...  negative
1547  This movie is a gay love story disguised as a ...  negative
1055  I saw it tonight and fell asleep in the movie....  negative
...                                                 ...       ...
7438  This is the first tablet i have owned and i mu...  positive
9389  Honestly I see no difference in this and the i...  negative
904   "This story is dedicated to women," according ...  negative
1383  This was only the second version of the classi...  negative
300   As a native Chinese, I can not accept this kin...  negative

[10024 rows x 2 columns]

In [ ]:
df.head()

                                                 review sentiment
500   Why do movie makers always go against the auth...  negative
6429  Bought it for my wife and the fire does not ha...  positive
134   This show makes absolutely no sense. Every wee...  negative
1547  This movie is a gay love story disguised as a ...  negative
1055  I saw it tonight and fell asleep in the movie....  negative

In [ ]:
# lower casing
reviews = df['review'].str.lower()

In [ ]:
print(type(review))

NameError: ignored

In [ ]:
# merging the lowercased text to df
df = df.merge(reviews.to_frame(), left_index=True, right_index=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10024 entries, 500 to 300
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_x   10024 non-null  object
 1   sentiment  10024 non-null  object
 2   review_y   10024 non-null  object
dtypes: object(3)
memory usage: 633.2+ KB

In [ ]:
# converting review_y to string
df['review_y'] = df['review_y'].astype("string")

In [ ]:
# removing punctuations using regex
df["reviews"] = df['review_y'].str.replace('[^\w\s]','')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10024 entries, 500 to 300
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_x   10024 non-null  object
 1   sentiment  10024 non-null  object
 2   review_y   10024 non-null  string
 3   reviews    10024 non-null  string
dtypes: object(2), string(2)
memory usage: 711.6+ KB

In [ ]:
df.head()

                                               review_x  ...                                            reviews
500   Why do movie makers always go against the auth...  ...  why do movie makers always go against the auth...
6429  Bought it for my wife and the fire does not ha...  ...  bought it for my wife and the fire does not ha...
134   This show makes absolutely no sense. Every wee...  ...  this show makes absolutely no sense every week...
1547  This movie is a gay love story disguised as a ...  ...  this movie is a gay love story disguised as a ...
1055  I saw it tonight and fell asleep in the movie....  ...  i saw it tonight and fell asleep in the movieb...

[5 rows x 4 columns]

In [ ]:
df = df.drop(columns=['review_x', 'review_y'])

In [ ]:
df.head()

     sentiment                                            reviews
500   negative  why do movie makers always go against the auth...
6429  positive  bought it for my wife and the fire does not ha...
134   negative  this show makes absolutely no sense every week...
1547  negative  this movie is a gay love story disguised as a ...
1055  negative  i saw it tonight and fell asleep in the movieb...

In [ ]:
# rearranging the column
df = df.iloc[:, [1,0]]

In [ ]:
df.head()

                                                reviews sentiment
500   why do movie makers always go against the auth...  negative
6429  bought it for my wife and the fire does not ha...  positive
134   this show makes absolutely no sense every week...  negative
1547  this movie is a gay love story disguised as a ...  negative
1055  i saw it tonight and fell asleep in the movieb...  negative

In [ ]:
df.to_csv('PreparedXethon10k.csv')

In [ ]:
punctuation = [#$%&'()*+,-./:;<=>?@[\]^_`{|}~]

SyntaxError: ignored

In [ ]:
all_text = ''.join([c for c in df['review_y'] if c not in punctuation])

TypeError: ignored

In [ ]:
df['cleaned'] = df['review'].apply(lambda x:''.join([i for i in x if i not in punctuation]))

TypeError: ignored

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117992 entries, 0 to 117991
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   review     117991 non-null  object
 1   sentiment  117992 non-null  object
dtypes: object(2)
memory usage: 1.8+ MB

In [ ]:
print(type(review))

<class 'pandas.core.series.Series'>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117992 entries, 0 to 117991
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   review_x   117991 non-null  object
 1   sentiment  117992 non-null  object
 2   review_y   117991 non-null  object
dtypes: object(3)
memory usage: 2.7+ MB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117992 entries, 0 to 117991
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   review_x   117991 non-null  object
 1   sentiment  117992 non-null  object
 2   review_y   117991 non-null  string
dtypes: object(2), string(1)
memory usage: 2.7+ MB

In [ ]:
# removing the punctuations
df['cleaned'] = df['review_y'].apply(lambda x:''.join([i for i in x if i not in punctuation]))

TypeError: ignored

In [ ]:
# checking nan values
nan_rows = df[df['review_y'].isnull()]

In [ ]:
nan_rows

      review_x sentiment review_y
53111      NaN  positive     <NA>

In [ ]:
df.isnull().sum()

AttributeError: ignored

In [ ]:
# removing null vslues
df = df.dropna(subset = ["review_y"], inplace=True)

In [ ]:
df